* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 90vh;
    background-color: black;
    overflow-y: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


row {
    display: flex;
    flex-wrap: wrap;
}


content {
    margin: 10px;
    background-color: red;
    border: 1px solid black;
    height: 200px;
}

col-14 {
    width: 14%;
}